.top-bar {
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0;
  margin: 2%;
  width: 50%;
}

.search-input {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
}

.search-icon {
  padding: 1%;
  color: #999999;
  display: flex;
  align-items: center;
}

.search-icon svg {
  width: 16px;
  height: 16px;
}

.search-button {
  padding: 1%;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ffffff;
  height: 100%;
  margin: 2%;
  cursor: pointer;
}

.search-button:hover:enabled {
  color: #555555;
}

.saved-gifs-button {
  padding: 1%;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  background-color: #ffffff;
  height: 100%;
  margin: 2%;
  border: none;
  border-bottom: 1px solid gray;
  cursor: pointer;
}

.saved-gifs-button:hover {
  color: #555555;
}
